/* Google Font -- Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Similar Style */
.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    padding: 15px 29px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.section-text {
    color: #181818;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.primary-bg {
    background: #FFF8F3;
}

/* nav related style  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 196px;
}

.nav-title {
    font-size: 39px;
    font-weight: 800;
}

nav ul {
    display: flex;
    gap: 44px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 17px;
}

/* Banner related style */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 32px 0px 196px;
}

.banner-content {
    max-width: 493px;
}

.banner-content h4 {
    color: #474747;
    font-size: 38px;
    font-weight: 600;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
}

.banner-dis {
    color: #757575;
    font-size: 15px;
    margin-bottom: 23px;
}

.header {
    background-image: url("/images/developer.png"), url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

/* About related style */
.main {
    max-width: 969px;
    margin: 0 auto;
}

.about {
    margin: 110px auto;
    border-radius: 10px;
}

.about-content {
    padding: 110px 132px;
    text-align: center;
}

.about-subtext {
    color: #181818;
    font-size: 30px;
    font-weight: 700;
}

.about-dis {
    color: #757575;
    font-size: 15px;
    padding: 25px 0px;
}

.item-content {
    display: flex;
    justify-content: space-between;
}

.item-text {
    color: #757575;
    font-size: 17px;
    text-align: center;
}

.item-subtext {
    color: #474747;
    font-size: 17px;
    font-weight: 700;
}

/* experience related style start */
.experience-content {
    margin: 0 auto;
    text-align: center;
    max-width: 772px;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    gap: 21px;
}

.my-experience {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.language {
    padding: 24px 0px;
    padding-left: 30px;
}

.experience-title {
    color: #181818;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 17px;
    padding-left: 30px;
}

.experience-dis {
    padding-left: 30px;
    color: #757575;
    font-size: 14px;
    margin-bottom: 25px;
}